.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding-top: 15px;
    padding-bottom: 15px;
}

.price-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 0;
    label {
        margin: 0;
    }
    input[type="number"] {
        width: 50px;
    }
}
